.home {
  text-align: center;

  .header {
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .language-label {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.found_issue {
  .found_repo {
    margin-bottom: 25px;
  }
}