<%= javascript_include_tag "random_issue" %>
<div class="random">
  <h1>How about this, eh?</h1>
</div>
<hr>
<div class="everything">
  <div class="found_issue">
    <div class="found_repo middle">
    </div>
    <div class="contents middle"></div>
  </div>
  <hr>
  <div class="middle">
    <div class="another btn btn-default pull-left">Maybe Later</div>
    <a class="choose btn btn-primary pull-right">Looks Good!</a>
  </div>
</div>
<div class="spinner">
  <%= image_tag("ajax-loader.gif") %>
  <hr>
</div>